h3 {    
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: "Futura";
    margin-left: 15px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    height:100%;
    padding:0px;
    padding-bottom:60px;
}

h4 {
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: "Futura";
    margin-left: 15px;
}

.mapouter, gmap_canvas {
    margin-left: 50px;
    margin-top: 45px;
    float: left;
}

h2 {
    color: white;
    text-align: left;
    font-size: 30px;
    font-family: "Futura";
    margin-left: 20px;
    margin-top: 45px;
    flex: auto;
}

.movedown {
    height: 300px;
    width: 100%;
    float: left;
}

li {
    color: white;
    font-size: 14px;
    font-family: "Futura"; 
    text-align: center;
    list-style: none;
}

ul {
    color: white;
    font-size: 14px;
    font-family: "Futura"; 
    text-align: center;
}

nav {
    float: right;
    position: absolute;
    right: 35px;
    font-family: "Futura";
    font-size: 14px;
    top: 35px;
    flex: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row  {
    clear: both;
    margin: auto;
    display: flex;
}

#sentence {
    color: darkgray;
    font-size: 14px;
    font-family: "Helvetica"; 
    text-align: center;
    margin-bottom: 20px;
}

i {
    color: white;
}

p {
    color: white;
    font-size: 14px;
    font-family: "Helvetica"; 
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    line-height: 1.5;
}

div {
    font-size: 14px;
    font-family: "Futura"; 
}

a:link {
    color: red;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

.image {
    text-align: center;
    padding: 10px;
}

.image-right {
    padding: 10px;
    float: right;
    margin-right: 5px;
    text-align: right;
}

.image-box {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.image-box-2 {
    float: left;
    width: 50%;
    padding: 5px;
}

footer {
    color: dimgray;
    font-size: 12px;
    background-color: snow;
    font-family: "Helvetica";
    text-align: center;
    padding-bottom: 8px;
    padding-top: 5px;
    bottom: 0;
    position: fixed;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
a {
    text-decoration: none;
}
a.home:link {
    color: white;
    text-decoration: none;
}

a.home:visited {
    color: white;
    text-decoration: none;
}

a.home:hover {
    color: blue;
    text-decoration: none;
}

a.home:active {
    color: blue;
    text-decoration: none;
}

.fullscreen {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}

.right-text {
    float: right;
    width: 50%;
    margin-left: 45px;
    margin-top: 70px;
}

video {
    padding: 10px;
    float: none;
}

.videoz {
    text-align: center;
}